<div class="phone d-flex align-items-center mx-3">
    <i class="fa fa-phone reverse onblue mr-2"></i>
    <div class="d-flex flex-column">
        C.H du Rouvray
        <b class="text-info">{{ data.option.value }}</b>
    </div>
</div>