<a href="#" id="btn-urgence" class="bg-danger d-flex align-items-center p-2 mx-2">
    <img src="/themes/site/img/urgence.png" class="mr-2" alt="">
    <div class="d-flex flex-column">
        URGENCES <br>
        15
    </div>
</a>