{% if type == "site_options.telephone" %}
    <div class="phone d-flex align-items-center mx-3">
        <i class="fa fa-phone reverse onblue mr-2"></i>
        <div class="d-flex flex-column">
            C.H du Rouvray
            <b class="text-info">{{ data.option.value }}</b>
        </div>
    </div>
{% elseif type == "site_options.urgence" %}
    <a href="{{ data.option.value }}" class="bg-danger d-flex align-items-center p-2 mx-2">
        <img src="/themes/site/img/urgence.png" class="mr-2" alt="">
        <div class="d-flex flex-column">
            URGENCES <br>
            15
        </div>
    </a>
{% endif %}