<div id="main-info">
    <img src="{{ data.image.url }}" class="img-fluid" alt="{{ data.image.alt }}">
    <div class="caption">
        <div class="container">
            <h1 class="text-info">{{ data.titre }}</h1>
        </div>
    </div>
</div>