<div class="row no-gutters shadow-lg seachForm content-page">
    <div class="col bg-info" style="padding-bottom: 0;">
        <form action="{{ data.action }}" method="GET" class="form-inline w-100">
            <div class="form-group row py-3 w-100">
                <div class="col-md-4">
                    {{ data.form.titre["#title"] }}
                </div>
                <div class="col-md-6">
                    <div class="no-title">
                        {{ data.form.titre }}
                    </div>
                </div>
                <br>
                <div class="col-md-2 mt-3 mt-md-0 text-align-center">
                        <button class="c-around" type="submit" style="position: relative;top: -7px;">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
</div>