<div class="list-result content-page mt-5">
    {% for secured in data %}
        <div class="result p-4">
            <div class="teaser">
                <a href="{{ secured.url }}" target="_blank"><h4>{{ secured.title }}</h4></a>
                {{ secured.body | striptags('<b><strong><ul><li><a><img><ol><u><i>') | raw }}
            </div>
            <a href="{{ secured.url }}" target="_blank" class="align-self-center btn btn-outline-light">Télécharger</a>
        </div>
    {% endfor %}
</div>
