{% for key, link in data %}
    {% if link.hide != "1" %}
        <div class="col{% if  key != "link4" %} mr-2{% endif %}">
            <div class="pole">
                <img src="{{ link.image }}" alt="{{ link.title }}" class="img-fluid">
                <div class="pole__text">
                    <h4 class="text-info"><a href="{{ link.link }}">{{ link.title }}</a></h4>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
