{% for consultation in data %}
    <div class="markerConsult" data-lat="" data-lng="" data-adress="" data-tel="" data-ville="" data-horaire=""></div>
{% endfor %}

<div id="mapConsult" style="width: 100%; height: 350px"></div>