<img src="{{ data.image }}" alt="Livret">
<a href="{{ data.file }}" title="Télécharger le PDF" target="_blank">Télécharger le PDF</a>
<div>
    {{ data.code | raw }}
</div>

<a href="{{ data.url }}" title="Toutes les publications">Toutes les publications</a>