<footer class="mt-5 with_shadow">

    <div class="bg-info">
        <div class="container">
            <div class="d-flex flex-wrap flex-column align-item-between h-100">
                {{ page.footer }}
            </div>
        </div>
    </div>
    <div class="bg-warning py-2">
        <div class="container">
            <div class="d-flex flex-lg-row flex-column align-items-center justify-content-between w-100">
                {{ page.secondary_menu }}
            </div>
        </div>
    </div>
</footer>