<div class="col-md-5">
    <img src="{{ data.image }}" alt="Livret" class="img-fluid">
</div>
<div class="col-md-7">
    <p class="mt-4 mb-4"><a href="{{ data.code }}" target="_blank" class="text-primary"><u>Feuilleter</u></a></p>
    <p class="mt-2 mb-4"><a href="{{ data.file }}" title="Télécharger le PDF" target="_blank" class="text-primary"><u>Telécharger en PDF</u></a></p>
    <p class="ml-4"><a href="{{ data.url }}" title="Toutes les publications" class="c-around c-bleu">Toutes les publications</a></p>
</div>