<span data-toggle="modal" data-target="#exampleModalCenter"><span class="resize resize-plus text-info">A+</span> <span
            class="tozero">/</span> <span class="resize resize-minus text-info">A-</span></span>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Accéssibilité</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Afin d'être accéssible au plus grand nombre, le Centre Hospitalier du Rouvray vous informe que vous avez la possibilité de modifier la taille d’affichage du contenu de notre site.
                    <br>
                Pour cela voici les commandes à reproduire à l'aide de votre clavier:</p>
                <div class="my-2 bg-info p-2">
                    <div class="row">
                        <div class="col-md-9 align-self-center">Zoom avant</div>
                        <div class="col-md-3"><span class="key bg-light text-dark p-1">CTRL</span> + <span class="text-align-center key bg-light text-dark p-1 px-2 d-inline-block" style="width: 25px;">+</span></div>
                    </div>
                </div>
                <div class="my-2 bg-info p-2">
                    <div class="row">
                        <div class="col-md-9 align-self-center">Zoom arrière</div>
                        <div class="col-md-3"><span class="key bg-light text-dark p-1">CTRL</span> + <span class="text-align-center key bg-light text-dark p-1 px-2 d-inline-block" style="width: 25px;">-</span></div>
                    </div>
                </div>
                <div class="my-2 bg-info p-2">
                    <div class="row">
                        <div class="col-md-9 align-self-center">Remise à zéro</div>
                        <div class="col-md-3"><span class="key bg-light text-dark p-1">CTRL</span> + <span class="text-align-center key bg-light text-dark p-1 px-2 d-inline-block" style="width: 25px;">0</span></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>