<div class="dropdown mx-3">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Français
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item" href="#">English</a>
        <a class="dropdown-item" href="#">русский</a>
        <a class="dropdown-item" href="#">العربية</a>
        <a class="dropdown-item" href="#">Deutsch</a>
    </div>

</div>