<div class="dropdown mx-3">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="/themes/site/img/fr_flag.png" alt="">
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item" href="#"><img src="/themes/site/img/en_flag.jpg" alt=""></a>
        <a class="dropdown-item" href="#"><img src="/themes/site/img/ru_flag.png" alt=""></a>
        <a class="dropdown-item" href="#"><img src="/themes/site/img/ar_flag.png" alt=""></a>
        <a class="dropdown-item" href="#"><img src="/themes/site/img/de_flag.png" alt=""></a>
    </div>

</div>