{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
    <div class="ariane mb-4">
        <ul>
            {% for key, item in breadcrumb %}
                <li>
                    {% if item.url %}
                        <a href="{{ item.url }}" {% if key == 0 %}class="text-info"{% endif %}>{{ item.text }}</a>
                    {% else %}
                        {{ item.text }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
